<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <title>生活优选</title>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="./css/element.css">

  <link href="./css/shop-list.css" rel="stylesheet">
  <link href="./css/main.css" rel="stylesheet">

  <style type="text/css">

  </style>
</head>
<body>
<div id="app">
  <div class="header">
    <div class="header-back-btn" @click="goBack"><i class="el-icon-arrow-left"></i></div>
    <div class="header-title">{{typeName}}</div>
    <div class="header-search">
      <i class="el-icon-search"></i>
    </div>
  </div>
  <div class="sort-bar">
    <div class="sort-item">
      <el-dropdown trigger="click" @command="handleCommand">
      <span class="el-dropdown-link">
        {{typeName}}<i class="el-icon-arrow-down el-icon--right"></i>
      </span>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item v-for="t in types" :key="t.id" :command="t">
            {{t.name}}
          </el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </div>
    <div class="sort-item" @click="sortAndQuery('')">
      距离 <i class="el-icon-arrow-down el-icon--right"></i>
    </div>
    <div class="sort-item" @click="sortAndQuery('comments')">
      人气 <i class="el-icon-arrow-down el-icon--right"></i>
    </div>
    <div class="sort-item" @click="sortAndQuery('score')">
      评分 <i class="el-icon-arrow-down el-icon--right"></i>
    </div>
  </div>
  <div class="shop-list" @scroll="onScroll">
    <div class="shop-box" v-for="s in shops" :key="s.id" @click="toDetail(s.id)">
      <div class="shop-img"><img :src="s.images" alt=""></div>
      <div class="shop-info">
        <div class="shop-title shop-item">{{s.name}}</div>
        <div class="shop-rate shop-item" >
          <el-rate
              disabled v-model="s.score/10"
              text-color="#F63"
              show-score
          ></el-rate>
          <span>{{s.comments}}条</span>
        </div>
        <div class="shop-area shop-item">
          <span>{{s.area}}</span>
<!--          <span v-if="s.distance">{{s.distance < 1000 ? s.distance.toFixed(1) + 'km' : (s.distance/1000).toFixed(1) + 'km'}}</span>-->
          <span v-if="s.distance">{{s.distance.toFixed(1) + 'km'}}</span>
        </div>
        <div class="shop-avg shop-item">￥{{s.avgPrice}}/人</div>
        <div class="shop-address shop-item">
          <i class="el-icon-map-location"></i>
          <span>{{s.address}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="./js/vue.js"></script>
<script src="./js/axios.min.js"></script>
<!-- 引入组件库 -->
<script src="./js/element.js"></script>
<script src="./js/common.js"></script>
<script>

  const app = new Vue({
    el: "#app",
    data: {
      util,
      isReachBottom: false,
      types: [], // 类型列表
      shops: [], // 商店列表
      typeName: "",
      params:{
        typeId: 0,
        current: 1,
        sortBy: "",
        x: 120.149993, // 经度
        y: 30.334229 // 纬度
      }
    },
    created()
    {
      //检查是否登录
      this.checkLogin();
      // 获取参数
      this.params.typeId = util.getUrlParam("type");
      this.typeName = util.getUrlParam("name");
      // 查询类型
      this.queryTypes();
      // 只在初始化时查询一次商店，不要重复查询
      if (this.params.typeId) {
        this.queryShops();
      }
    },
    methods:
    {
      checkLogin()
      {
        // 获取token
        let token = sessionStorage.getItem("token");
        if (!token) {
          location.href = "/login.html"
        }
        // 查询用户信息
        axios.get("/user/me")
                .then()
                .catch(err => {
                  this.$message.error(err);
                  setTimeout(() => location.href = "/login.html", 300)
                })
      },
      queryTypes()
      {
        axios.get("/shop-type/list")
          .then(({data}) => {
            this.types = data;
          })
          .catch(err => {
            console.log(err);
            this.$message.error(err)
          })
      },
      queryShops(isLoadMore = false)
      {
        // 如果不是加载更多，清空现有数据，防止重复渲染
        if (!isLoadMore) {
          this.shops = [];
        }
        
        axios.get("/shop/of/type",
        {
            params: this.params
          })
          .then(({data}) => {
            if (!data || data.length === 0) {
              // 如果是加载更多时返回空数据，说明没有更多数据了
              if (isLoadMore) {
                console.log("没有更多数据了");
                this.params.current--; // 回退页码
              }
              return
            }
            data.forEach(s => {
              s.images = s.images.split(',')[0];
              // 将后端返回的 avg_price 转换为前端使用的 avgPrice
              s.avgPrice = s.avg_price;
            });
            // 如果是加载更多，则追加数据；否则替换数据
            if (isLoadMore) {
              this.shops = this.shops.concat(data);
            } else {
              this.shops = data;
            }
          })
          .catch(err => {
            console.log(err);
            this.$message.error(err)
          })
          .finally(() => {
            // 请求完成后，延迟重置触底标志，避免重复请求
            if (isLoadMore) {
              setTimeout(() => {
                this.isReachBottom = false;
              }, 300);
            }
          })
      },
      handleCommand(t) {
        location.href = "/shop-list.html?type="+t.id+"&name="+t.name;
      },
      sortAndQuery(sortBy) {
        // 如果点击的是当前已选择的排序方式，不做任何处理
        if (this.params.sortBy === sortBy) {
          return;
        }
        this.params.sortBy = sortBy;
        // 重置页码
        this.params.current = 1;
        this.queryShops();
      },
      goBack() {
        history.back();
      },
      toDetail(id) {
        location.href = "/shop-detail.html?id="+id
      },
      onScroll(e) {
        let scrollTop = e.target.scrollTop;
        let offsetHeight = e.target.offsetHeight;
        let scrollHeight = e.target.scrollHeight;
        // 触底检测：当前滚动位置 + 可视高度 >= 总高度
        if(scrollTop + offsetHeight + 1 >= scrollHeight && !this.isReachBottom){
          this.isReachBottom = true
          console.log("触底，加载第 " + (this.params.current + 1) + " 页")
          this.params.current++
          this.queryShops(true); // 传入 true 表示是加载更多
        }
      },
    }
  })
</script>
</body>
</html>